# This is a basic workflow to help you get started with Actions

name: Deploy Website

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Node
      uses: actions/setup-node@v2-beta
      with:
        node-version: 12
    - name: Installing Yarn
      uses: borales/actions-yarn@v2.0.0
      with:
        cmd: install # will run `yarn install` command
    - name: Build yarn App
      run: yarn build
    - name: install Surge
      run: npm install -g surge
    - name: Deploy To Surge
      run: surge ./build bootcamp-react-dinner-app.surge.sh --token ${{secrets.SURGE_TOKEN}}
